@media screen and (max-width : 1024px) {
    main {
        flex-direction: column;
        flex-grow: 0;
        width: 100%;
        margin-bottom: 0px;
    }

    header {
        height: 10vh;
    }

    #map {
        height: 60vh;
    }

    #weather {
        width: 100%;
        max-width: 100000px;
        min-width: 0px;
        height: 30vh;
        order: 2;
    }

    

}
