@font-face {
    font-family: "Roboto";
    src: url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2);
  }


body {
    font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
    box-sizing: padding-box;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    background-color: #6561f0;
    min-height: 32px;
    max-height: 48px;
    flex-grow: 1;
    margin-bottom:8px;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 5;
}

#sidebar {
    min-width: 128px;
    max-width: 384px;
    height: 100%;
    flex-grow: 1;
    background-color: #bec7ca;
}

#sidebar__form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height:100%;
}

.fieldset-text, .fieldset-radio  {
    width: inherit;
    border-radius: 8px;
    border-color: #ff00ea;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px; 
}

.label-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 8px;
}

.label-text > span {
    width: 96px;
}

.label-text > input {
    flex-grow: 1;
}

#form__spacer {
    flex-grow: 1;
}

#form__submit {
    height: 48px;
    width: 100%;
    background-color: #789cea;
    border: 1px solid #789cea;
}

#map {
    min-width: 256px;
    flex-grow: 3;
    background: url(../img/map_example.png) ;
    background-size: cover;
    margin-left: 8px;
    margin-right: 8px;
    height:auto;
    display: flex;
}

#weather {
    min-width: 128px;
    max-width: 384px;
    flex-grow: 1;
    background-color:  #bec7ca;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather__description {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.weather__card {
    width: 320px;
    height: 120px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    border: 2px solid #ff00ea;
    border-radius: 16px;
    background-color: #789cea;
}

.card__time {
    font-size: 20px;
    align-self: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.card__descriptionWrapper {
    display:flex;
    flex-direction: row;
}

.card__image > img {
    margin-left: 16px;
    margin-right: 16px;
    height: 64px;
    width:  64px;
}

.card__infoWrapper {
    display: flex;
    flex-direction: column;
}

.card__infoWapper > div {
    margin-bottom: 8px;
}


footer {
    margin-top: 8px;
    background-color: #5427b5;
    min-height: 32px;
    max-height: 48px;
    flex-grow: 1;
}