@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}


body {
    font-family: "Roboto-Medium", Geneva, Arial, Helvetica, sans-serif;
    box-sizing: padding-box;
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    background-color: #6561f0;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: white
}

#header__logo {
    height: 5vh;
    width: 5vh;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

.spacer {
    flex-grow: 1;
    flex-shrink: 1;
}

#form__submit, #form__clearRoute {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #789cea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid black;
    color: white;
}

#form__submit:hover, #form__clearRoute:hover {
    background-color: #6561f0;
    cursor: pointer;
}

#map {
    min-width: 256px;
    height: 90vh;
    width: 100%;
    flex-grow: 1;
    cursor: default;
}

#weather__description {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
}

footer {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

#choosePoint {
    background-color: rgb(91, 218, 91);
    border-radius: 4px;
    width: 100%;
    height: 26px;
    align-content: center;
    padding-top: 6px;
    text-align: center;
    margin-bottom: 4px;
    font-family: "Roboto-Regular";
}

#weather {
    box-sizing: border-box;
    height: 90vh;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    background-color:  #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    overflow-y: auto ;
}

#weather > p {
    font-family: "Roboto-Light";
    text-align: left;
}

.weather__card {
    box-sizing: border-box;
    margin-top: 8px;
    width: 280px;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
    background-color: #5900ff;
    border-radius: 8px;
    display:flex;
    flex-direction: row ;
    color: white;
    justify-content: space-evenly;
}

.wrapper__waypoint_time {
    margin: 8px;
    height: 100%;
    width: 60px;
}

.card__waypoint {
    align-self: center;
    height: 48px;
    width: auto;
    margin-bottom: 4px;
    align-self: center;
}

.card__time {
    display: flex;
    flex-direction: column;
    align-self: center;
    
    font-size: 20px;
}


.wrapper__temp_wind {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    margin-top: 8px;
    width: 90px;
}

.card__temp {
    font-size: 32px;
    align-self: center;
}

.card__wind {
    display:flex;
    flex-direction: column;
    justify-self: flex-end;
    justify-content: flex-end;
    margin-bottom: 8px;
    height: 100%;
    font-size: 16px;
    text-align: center;
    position: relative;
    bottom: 0;
}



.card__condition {
    align-self: center;
    justify-content: center;
    height: 70px;
    width: auto;
    margin-right: 8px;
}


.header__route {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8px;
}


.logo_name {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto-MediumItalic";
    font-size: 120%;
}

#speedometer {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    
    font-family: "Roboto-Regular";
    color:Black;
}



.custom-select {
    position: relative;
    width: 140px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: #789cea;
    height: 100%;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #789cea;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }